<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: monospace;">Sweets_Room</strong>
        </p>
      </div>
          <% if user_signed_in? %>
           <%= link_to "こんにちは、#{current_user.user_name}さん", user_path(current_user), class: :greeting__link%>
          <% end %>
      <div class="columns is-centered">
        <div class="column is-5">
          
          
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recettes.each do |recette| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to recette_path(recette) do %>
                  <%= attachment_image_tag recette, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag recette.user, :profile_image, :fill, 50,50, fallback: "no-image.png", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to recette.user.user_name, user_path(recette.user) %></div>
                </div>
              </div>

              <div class="content">
                <time><%= recette.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
　