<!DOCTYPE html>
<html>
  <head>
    <title>RecetteSweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-black">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= link_to root_path, class: "navbar-item" do %>
     <h1 class="title is-4" style="font-family:monospace;">recette-sweets</h1>
    <% end %>
    <%= yield %>
  </body>
</html>
